* {
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clear::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

button {
    background-color: #0061ff;
    display: block;
    border: none;
    padding: 5px;
}

button a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.dimenzione{
    max-width: 75rem;
}

.icona {
    width: 10px;
    margin-bottom: 0;
    margin-right: 0.5rem;
}

section {
    margin-top: 4rem;
    margin-left: 12rem;
    width: 50rem;
}

span {
    margin-right: 1rem;
    margin-left: 0;
}

.but-type2 {
    background-color: honeydew;
    border: 1px solid black;
    color: black;
    margin-top: 2rem;
}


h2 {
    padding-bottom: 3rem;
    font-size: 1.4rem;
}

h3 {
    padding-bottom: 1.5rem;
    font-size: 1.2rem; 
}

.a2 {
    color:black;
}

