


ul {
    list-style-type: none;
}

.dimenzione{
    max-width: 75rem;
}

.icona {
    width: 10px;
    margin-bottom: 0;
    margin-right: 0.5rem;
}

section {
    margin-top: 4rem;
    margin-left: 12rem;
    width: 50rem;
}

span {
    margin-right: 1rem;
    margin-left: 0;
}




h2 {
    padding-bottom: 3rem;
    font-size: 1.4rem;
}

h3 {
    padding-bottom: 1.5rem;
    font-size: 1.2rem; 
}
