/* nav */

nav {
    position:relative;
    display: block;
 
    z-index: +3;
    background-color: white;
    overflow: hidden;
    max-height: 3rem;
}

.anti-bug {
    position: fixed;
    min-width: 75rem;
    background-color: white;
}


nav img{
    padding-top: 1rem;
    width: 100px;
}

nav li{
    margin-top: 1rem;
}

nav a {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    padding-bottom: 0.8rem;
}

li a:hover {
    border-bottom: 1px solid black;
}

nav button {
    margin-top: 0.8rem;
}

/* header */

header {
    background-color:#b4d0e7 ;
    position: relative;
    margin-top: 3.8rem;
    display: block;
    max-height: 31rem;
    margin-bottom: 10rem;
}

#jumbo {
    width: 700px;
    padding-top: 1rem;
}

header h1{
    font-size: 3.2rem;
    padding-left: 6rem;
    padding-right: 8rem;
    padding-top: 4rem;
    line-height: 3rem;
}

.text1{
    width: 16rem;
    padding-left: 6rem;
    padding-top: 1rem;
    padding-right: 3rem;
    margin-bottom: 1rem;
    font-size: 0.65rem;
}

header button {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

header .fas{
    font-size: 3rem;
}

/* sezione 1 */

.contenitore1{
    width: 53rem;
    height: 50rem;
}

.vertical {
    border: 1px solid #d8d8db;
    width: 16rem;
    margin-top: 2rem;
    height: 100%;
}

.part1 h2{
    font-size: 2rem;
    padding-bottom: 3rem;
}

.check {
    border: 1px solid #d8d8db;
    border-radius: 50%;
    padding:5px;
    display: inline-block;
}

#uno {
    border: 3px solid blue;
}

.rettangolo {
    border: 1px solid #d8d8db;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    display: inline-block;
    width: 100%;
}

.allineamento{
    margin-left: 0.5rem;
}

.allineamento *{
    margin:1rem;
    font-size:0.8rem;
    margin-left: 0;
}

.allineamento button {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.allineamento h3 {
    font-size: 1.3rem;
}

li span{
    color: blue;
}

.fantasmino {
    background-color: #d8d8db;
    width: 3rem;
    height: 1px;
}

.centrale {
    margin-left: 2rem;
    margin-right: 2rem;
}

#orizontal {
    border:1px solid #d8d8db;
    width: 53rem;
    height: 15rem;
    margin-top: 4rem;
    position: relative;
}

.interno *{
    margin:1rem;
    font-size:0.8rem;
    margin-left: 0;
    margin-left:2rem;
}

.interno button{
    position: absolute;
    bottom: 3rem;
    left: 33rem;
}

/* sezione con foto */

.foto {
    background-image: url(../img/img/partner.png);
    background-size: cover;
    width: 58%;
    height: 25rem;
    display: inline-block;

}

.part2 {
    height: 30rem;
    position: relative;
}

.text2{
    display: inline-block;
    width: 40%;
    font-size: 0.8rem;
}

.part2 a {
    color: black;
}

.text2 div{
    position: relative;
    bottom:8rem;
    left: 1rem;
}

/* sezione a 6 carte */

.tris {
    width: 53rem;
    height: 25rem;;
}

.tris img{
    width: 100%;
    height: auto;
}

.tris div {
    border: none;
}

.piccola {
    margin-top: 10rem;
}

.piccola h1 {
    font-size: large;
    margin-bottom: 2rem;
}

/* tavola dei loghi */

.tavola {
    margin-top: 3rem;
    height: 32rem;
    width: 74rem;
    background-color: chartreuse;
    margin-left: 0;
}

.marchio {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    background-color: blue;
}

.qxq {
    width: 20rem;
    height: 20rem;
}

.desin {
    width: 34rem;
    height: 20rem;
}

.marchio svg {
    width: 4rem;
    height: 4rem;
    display: block;
    fill:white;
    position: relative;
    left: 3rem;
    top: 3rem;
}
.one{
    border: 0.2rem solid #d0e9cd;
    background-color: #a2d39b;
    width: 9.6rem;
    height: 9.6rem;
}
.two {
    background-color: #61082b;
}

.tre {
    background-color:#0093ce ;
}

.svg-nera {
    width: 5rem;
    height: 1rem;
    display: block;
    position: relative;
    top:40%;
}

.four {
    background-color: #ff1c1c;
}

.desin {
    background-color: #f5f5f5;
    overflow: scroll;
}

#designit {
    width: 6rem;
    margin-bottom: 2rem;
}

.desin2 {
    padding-top: 3rem;
    padding-left: 2rem;
}

.desin2 p {
    margin-top:2rem;
}

.five{
    background-color: #d5001f;
}

.six{
    background-color: #b4d0e7;
}

.seven{
    background-color:#0d2481 ;
}

.eight{
    background-color: #ffd830;
}

.platea {
    width: 100%;
    height: 12rem;
    background-color: #b4d0e7;
    color:#61082b;
}

.platea h2{
    margin-top: 4rem;
    padding-left: 6rem;
    padding-right: 2rem;
    font-size: 2rem;

}

.platea div{
    width: 49%;
    height: 100%;
}

.platea button {
    margin-top: 4rem;
    margin-left: 16rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
}

/* domande freguenti */


.domanda {
    border-bottom: 1px solid #8b8888;
    width: 100%;
    height: 3rem;
    vertical-align: middle;
    margin-top: 1rem;
}

.dom-titolo h2 {
    font-size: 2rem;
}

.domanda span{
    padding-left: 20rem;
}

.risp{
    opacity: 0; 
    position: relative;
    bottom: 3rem;
    font-size: 1rem;
}

.risp:hover{
    opacity: 1;
    padding-top: 6rem;
    border-bottom: 1px solid black;
}

.domanda:hover{
    border-bottom: 1px dotted black;
    margin-bottom: 8rem;
}

footer {
    background-color: black;
    color: white;
    height: 30rem;
    width: 74rem;
    margin-top: 5rem;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

.lista-madre{
    padding-top: 4rem;
    margin-bottom: 6rem;
}
.lista-madre li{
    margin-left: 5rem;
}

.lista-madre li li{
    margin-left: 0rem;
}

footer select{
    margin-top: 3rem;
    border: none;
    color: white;
    background-color: black;
}