/* nav */

nav {
    position:relative;
    display: block;
 
    z-index: +3;
    background-color: white;
    overflow: hidden;
    max-height: 3rem;
}

.anti-bug {
    position: fixed;
    width: 75rem;
    background-color: white;
}


nav img{
    padding-top: 1rem;
    width: 100px;
}

nav li{
    margin-top: 1rem;
}

nav a {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    padding-bottom: 0.8rem;
}

li a:hover {
    border-bottom: 1px solid black;
}

nav button {
    margin-top: 0.8rem;
}

/* header */

header {
    background-color:#b4d0e7 ;
    position: relative;
    margin-top: 3.8rem;
    display: block;
    max-height: 100vh;
}

#jumbo {
    width: 610px;
    padding-top: 1rem;
}

header h1{
    font-size: 3.2rem;
    padding-left: 6rem;
    padding-right: 8rem;
    padding-top: 4rem;
}

.text1{
    width: 16rem;
    padding-left: 6rem;
    padding-top: 1rem;
    padding-right: 3rem;
    margin-bottom: 1rem;
    font-size: 0.65rem;
}

header button {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

#icona {
    position: relative;
    width: 50px;
    top: 6rem;
    right: 10rem;
}