* {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1rem;
}


a {
    text-decoration: none;
}

.clear::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.button{
    color: white;
    padding:10px 30px;
    background-color: #0061ff;
    display: inline-block;
    border: none;
}

.button:hover {
    background-color: lightskyblue;
    border: none;
}

.but-type2 {
    background-color: white;
    color: black;
    margin-top: 2rem;
    padding:1rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.fantasmino {
    background-color: #d8d8db;
    width: 3rem;
    height: 1px;
}

.tris {
    width: 100vw;
}

/* nav bar ricontrollata */

#nav-btn {
    padding:0px 30px;
    margin-right: 2vw;
}

nav {
    width: 100vW;
    overflow: hidden;
    height: 4rem;
}

.fixed {
    width: 100vw;
    position: fixed;
    min-width: 75rem;
    background-color: white;
    height: calc(4rem - 2px);
    z-index: 5;
}

nav li{
    margin-top: 1rem;
    display: inline-block;    
}

li a:hover {
    border-bottom: 2px solid black;
}

#img-1:hover{
    border:none;
}

nav li a {
    display: inline-block;
    padding-bottom: 10.px;
    line-height: 2.8rem;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

nav img{
    vertical-align: sub;
}

/* header controllato */


header {
    width: 100vw;
    background-color:#b4d0e7 ;
    max-height: 70vh;
    margin-bottom: 10rem;
}

#jumbo {
    max-width: 45vw;
    padding-top: 1rem;
}

.pp {
    width: 80vw;
    height: 85vh;
    overflow: hidden;
    margin-left: 10%;
}

header h1{
    font-size: 3.2rem;
    padding-right: 8rem;
    padding-top: 2rem;
    line-height: 3rem;
}

.in-block{
    display:inline-block;
}

.text1{
    width: 30%;
    height: 100%;
    padding-top: 1rem;
    padding-right: 5rem;
    margin-bottom: 1rem;
}

header .fas{
    font-size: 3rem;
}

/* sezione 1 corretta */

.vertical {
    border: 1px solid #d8d8db;
    width: 20vw;
    margin-top: 2rem;
    margin-left:5vw;
}

.check {
    border: 1px solid #d8d8db;
    border-radius: 50%;
    padding:5px;
    display: inline-block;
}

#uno {
    border: 3px solid blue;
}

.rettangolo {
    border-bottom: 1px solid #d8d8db;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.grigio {
    color: gray;
    font-size: 0.7rem;
}

.allineamento{
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.allineamento *{
    margin-top:1rem;
    font-size:0.8rem;
    margin-left: 0;
}

.sep {
    display: inline-block;
    width: 12rem;
    vertical-align: top;
    color: black;
}

.allineamento i {
    margin-top: 1.2rem;
    margin-right: 0.4rem;
}

.allineamento button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}


.fa-check{
    color: blue;
}

#orizontal {
    border:1px solid #d8d8db;
    width: 70vw;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
}

.orizontal-left {
    width: 50vw;
}

.allineamento2 {
    margin-top: 1rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

/* foto corretta */


.foto {
    width: 40vw;
}

.text2{
    padding-top: 2rem;
    padding-left: 2rem;
    width: 40%;

}

.con-bordo{
    border: 1px solid lightgray;
}

/* 6 carte corretto */

.card {
    margin-left: 2vw;
    width: 25vw;
    margin-top:2rem;
}

.tris img{
    width: 100%;
}

/* sezuione con solo titolo corretta*/

.piccola {
    margin-top: 10rem;
}

/* sezione con i loghi correzione */

.tavola {
    margin-top: 3vh;
    width: 100vw;
    background-color: rgba(100, 0, 0, 0.2);
}

.marchio {
    width: calc( 100% / 2 );
    height:  calc( 100% / 2 );
}

.qxq {
    background-color: rgba(100, 100, 0, 0.2);
    width: calc( 100vw / 7 * 2 );
    height: 62vh;
}

.desin {
    background-color: rgba(100, 100, 100, 0.2);
    width: calc( 100vw / 7 * 3 );
    height: 62vh;
}

path {
    fill:white;
}

.marchio svg {
    width: 8vw;
    height: 8vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.svg-nera {
    width: 8vw;
    height: 8vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.desin {
    background-color: #f5f5f5;
}

.desin2 {
    padding-top: 3rem;
    padding-left: 2rem;
}

#designit {
    width: 6rem;
    margin-bottom: 2rem;
}

.desin2 p {
    margin-top:2rem;
}

.platea {
    width: 100%;
    height: 10rem;
    background-color: #b4d0e7;
    color:#61082b;
}

.sinistra {
    width: 70%;
}

.platea h2{
    margin-top: 4rem;
    padding-left: 9rem;
    padding-right: 6rem;
    line-height: 2rem;
}

#stupido{
    margin-top: 12vh;
}

.platea button {
    margin-top: 4rem;
    margin-left: 16rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.one{
    border: 10px solid #d0e9cd;
    background-color: #a2d39b;
    width: calc( 100% / 2 - 20px);
    height:  calc( 100% / 2 - 20px);
}

.two {
    background-color: #61082b;
}

.tre {
    background-color:#0093ce ;
}

.four {
    background-color: #ff1c1c;
}

.five{
    background-color: #d5001f;
}

.six{
    background-color: #b4d0e7;
}

.seven{
    background-color:#0d2481 ;
}

.eight{
    background-color: #ffd830;
}

/* domande e risposte cambiare sistema*/

.dom-titolo {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 2rem;
}

.domande{
    margin-top: 10vh;
    height: calc( 70vh - 10px);
}

.domanda {
    width: 100%;
    height:calc(3rem - 2px );
    vertical-align: middle;
    margin-top: 1rem;
    position: relative;
    background-color: white;
    top:2rem;
    border-bottom: 1px solid lightgrey;
}

.nascosto{
    position: relative;
    right: 0.9rem;
    opacity: 0;
}


.dominio {
    margin-left: 22rem;
    display: inline-block;
}

.risp {
    margin-top: 0.5rem;
    opacity:0;
    border-bottom: 1px solid lightgrey;
}

.domanda:hover{
    border: none;
}

.domanda:hover .dominio{
    transform: rotate(180deg);
}

.domanda:hover .risp{
opacity: 1;
}

/* footer correzione */

footer {
    background-color: black;
    height: 73vh;
    margin-top: 5rem;
    color: white;
}

footer .fantasmino {
    margin-left: 5rem;
    width: 5rem;
}

footer a{
    color: white;
    font-size: 0.8rem;
}

.lista-madre{
    padding-top: 8vh;
    margin-bottom: 10vh;
}

.lista-madre li{
    width: 6vw;
    margin-left: 10vw;
    margin-bottom: 1vh;
}

.lista-madre li li{
    margin-left: 0rem;
    margin-top: 1vh;
}

footer select{
    margin-top: 3rem;
    border: none;
    color: white;
    background-color: black;
}

footer i{
    margin-left: 5rem;
}

/* correct */

.correct1 {
    overflow: hidden;
    margin-left: 5vw;
    width: 90vw;
}

.correct2 {
    overflow: hidden;
    margin-left: 10vw;
    width: 81vw;
}