* {
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1rem;
}

.clear::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

button {
    background-color: #0061ff;
    display: block;
    border: none;
    padding: 5px;
}

button a{
    text-decoration: none;
    color: white;
    padding:14px;
}

.but-type2 {
    background-color: honeydew;
    color: black;
    margin-top: 2rem;
}

.but-type2 a{
    color:black;
    padding:1rem;
}

ul {
    list-style-type: none;
    padding:0;
}

.large{
    max-width: 75rem;
}

.center {
    margin-top: 4rem;
    margin-left: 12rem;
    width: 55rem;
}

.fantasmino {
    background-color: #d8d8db;
    width: 3rem;
    height: 1px;
}

.tris {
    width: 53rem;
}

/* nav bar ricontrollata */

nav {
    position:relative;
    z-index: +3;
    overflow: hidden;
}

.anti-bug {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    width: 75rem;
    background-color: white;
}

nav img{
    width: 100px;
}

nav li{
    margin-top: 0.2rem;
}

nav li a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    padding-bottom: 0.8rem;
    color: black;
}

li a:hover {
    border-bottom: 1px solid black;
}

.livv {
    margin-left: 2rem;
    margin-right: 2rem;
}

/* header controllato */


header {
    background-color:#b4d0e7 ;
    margin-top: 3.8rem;
    max-height: 31rem;
    margin-bottom: 10rem;
}

#jumbo {
    width: 700px;
    padding-top: 1rem;
}

header h1{
    font-size: 3.2rem;
    padding-left: 6rem;
    padding-right: 8rem;
    padding-top: 2rem;
    line-height: 3rem;
}

.text1{
    width: 16rem;
    padding-left: 6rem;
    padding-top: 1rem;
    padding-right: 5rem;
    margin-bottom: 1rem;
}

header .fas{
    font-size: 3rem;
}

/* sezione 1 corretta */


.tris{
    width: 53rem;
}

.vertical {
    border: 1px solid #d8d8db;
    width: 16rem;
    margin-top: 2rem;
    height: 50rem;
}

.check {
    border: 1px solid #d8d8db;
    border-radius: 50%;
    padding:5px;
    display: inline-block;
}

#uno {
    border: 3px solid blue;
}

.rettangolo {
    border: 1px solid #d8d8db;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.allineamento{
    margin-left: 0.5rem;
}

.allineamento *{
    margin:1rem;
    font-size:0.8rem;
    margin-left: 0;
}

.allineamento button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

li span{
    color: blue;
}

.centrale {
    margin-left: 2rem;
    margin-right: 2rem;
}

#orizontal {
    border:1px solid #d8d8db;
    width: 53rem;
    margin-top: 4rem;
}

.orizontal-left {
    width: 30rem;
}

.allineamento2 {
    margin-top: 1rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

/* foto corretta */


.foto {
    width: 30rem;
}

.text2{
    padding-top: 2rem;
    padding-left: 2rem;
    width: 40%;

}

/* 6 carte corretto */

.card {
    width: 16rem;
    margin-top:2rem;
}

.tris img{
    width: 100%;
}

/* sezuione con solo titolo corretta*/

.piccola {
    margin-top: 10rem;
}

/* sezione con i loghi correzione */

.tavola {
    margin-top: 3rem;
    width: 74rem;
}

.marchio {
    width: 10rem;
    height: 10rem;
}

.qxq {
    width: 20rem;
}

.desin {
    width: 34rem;
    height: 20rem;
}

path {
    fill:white;
}

.marchio svg {
    width: 4rem;
    height: 4rem;
    position: relative;
    left: 3rem;
    top: 3rem;
}

.svg-nera {
    width: 5rem;
    height: 1rem;
    position: relative;
    top:5rem;
    left:2rem;
}

.desin {
    background-color: #f5f5f5;
    overflow: scroll;
}

.desin2 {
    padding-top: 3rem;
    padding-left: 2rem;
}

#designit {
    width: 6rem;
    margin-bottom: 2rem;
}

.desin2 p {
    margin-top:2rem;
}

.platea {
    width: 100%;
    height: 10rem;
    background-color: #b4d0e7;
    color:#61082b;
}

.platea h2{
    margin-top: 4rem;
    padding-left: 9rem;
    padding-right: 6rem;
    line-height: 2rem;
}

.platea div{
    width: 49%;
}

.platea button {
    margin-top: 4rem;
    margin-left: 16rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.one{
    border: 0.2rem solid #d0e9cd;
    background-color: #a2d39b;
    width: 9.6rem;
    height: 9.6rem;
}

.two {
    background-color: #61082b;
}

.tre {
    background-color:#0093ce ;
}

.four {
    background-color: #ff1c1c;
}

.five{
    background-color: #d5001f;
}

.six{
    background-color: #b4d0e7;
}

.seven{
    background-color:#0d2481 ;
}

.eight{
    background-color: #ffd830;
}

/* domande e risposte corretto */


.domanda {
    border-bottom: 1px solid #8b8888;
    width: 100%;
    height: 3rem;
    vertical-align: middle;
    margin-top: 1rem;
}

.dom-titolo h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.domanda span{
    padding-left: 20rem;
}

.risp{
    opacity: 0; 
    position: relative;
    bottom: 3rem;
    font-size: 1rem;
}

.risp:hover{
    opacity: 1;
    padding-top: 6rem;
    border-bottom: 1px solid black;
}

.domanda:hover{
    border-bottom: 1px dotted black;
    margin-bottom: 5rem;
}

/* footer correzione */

footer {
    background-color: black;
    color: white;
    height: 30rem;
    width: 74rem;
    margin-top: 5rem;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

.lista-madre{
    padding-top: 4rem;
    margin-bottom: 6rem;
}
.lista-madre li{
    margin-left: 5rem;
}

.lista-madre li li{
    margin-left: 0rem;
}

footer select{
    margin-top: 3rem;
    border: none;
    color: white;
    background-color: black;
}